@page "/ficha-report"

@using BlazorUI.Client.Extensions
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div id="report-viewer" style="width: 100%;height: 950px"></div>

@code {
    // ReportViewer options
    BoldReportViewerOptions viewerOptions = new BoldReportViewerOptions();

    // Initial rendering of Bold Report Viewer
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            viewerOptions.ReportPath = "~/reports/Ficha.rdl";
            viewerOptions.ServiceURL = "/api/BoldReports";
            // viewerOptions.Locale = "es-AR";
            await JSRuntime.InvokeVoidAsync("BoldReports.RenderViewer", "report-viewer", viewerOptions);
        }
    }

    // public async void RenderReportViewer()
    // {
    //     viewerOptions.ReportName = "~/Reports/Ficha.rdl";
    //     viewerOptions.ServiceURL = "/api/BoldReports";
    //     await JSRuntime.InvokeVoidAsync("BoldReports.RenderViewer", "report-viewer", viewerOptions);
    // }
}

